<ion-header>
  <ion-navbar>
    <ion-title>
      English Quiz App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-card>
    <img src="assets/img/header1.png"/>
    <div class="card-title">Quiz App</div> 
  </ion-card>
<div></div>
  <ion-list>
    <ion-item>
      <ion-label floating>Player name: </ion-label>
      <ion-input [(ngModel)]="playerName"></ion-input>
    </ion-item>
  </ion-list>
      <div progress *ngIf=" errorCheck?.progress "><ion-spinner></ion-spinner>{{ errorCheck.progress }}</div>
      <div success *ngIf=" errorCheck?.success "><ion-icon name="checkmark"></ion-icon>{{ errorCheck.success }}</div>
      <div error *ngIf=" errorCheck?.error "><ion-icon name="bug"></ion-icon>{{ errorCheck.error }}</div>
  <div padding>
    <button (click)="onClickProceed()" ion-button round outline block>PROCEED</button>
  </div>
</ion-content>
