page-home {
      [progress] {
        background-color: blue;
        color:white;
    }
    [error] {
        background-color: red;
        color: white;
    }
    [success] {
        background-color: green;
        color: white;
    }
    ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.8em;
    width: 100%;
    font-weight: bold;
    color: #234;
    opacity: 30%;
  }

}
