page-home {
    ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.8em;
    width: 100%;
    font-weight: bold;
    color: #234;
    opacity: 30%;
  }

}
