page-game {
    ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #234;
    opacity: 30%;
  }

  .card-subtitle {
    font-size: 1.6em;
    position: absolute;
    top: 58%;
    width: 100%;
    color: #fff;
  }
}
